<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
  <a href="/listings" class="navbar-brand">
       
<svg class="wl-logo" viewBox="0 0 1536 1024" height="40" width="auto"
       xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
    <g transform="translate(0,1024) scale(0.1,-0.1)"
       fill="currentColor" stroke="none">
      <path d="M4075 6840 c-95 -25 -138 -44 -217 -96 -187 -124 -316 -354 -318
-567 -1 -115 57 -284 158 -462 116 -205 208 -336 391 -555 114 -137 127 -150
152 -150 28 0 325 371 452 565 70 108 168 296 199 385 76 214 18 486 -143 669
-164 186 -442 273 -674 211z m302 -391 c198 -95 241 -361 83 -519 -94 -94
-236 -122 -350 -69 -102 48 -155 108 -186 215 -40 138 27 298 155 368 98 53
194 55 298 5z"/>
<path d="M2741 5957 c-243 -104 -340 -150 -354 -169 -15 -19 -35 -137 -97
-559 -43 -294 -85 -574 -94 -624 -8 -49 -24 -166 -36 -260 -11 -93 -28 -214
-37 -267 -13 -81 -13 -103 -3 -129 19 -44 52 -63 103 -57 23 3 197 70 387 148
288 120 353 143 395 143 40 0 125 -29 433 -148 300 -115 391 -146 416 -142 18
3 173 69 346 147 172 78 330 144 349 147 36 5 142 -26 724 -211 131 -42 253
-76 272 -76 39 0 90 38 99 74 3 13 -3 91 -14 173 -11 81 -34 263 -50 403 -16
140 -54 460 -85 710 -30 250 -57 479 -60 508 -9 78 -35 100 -223 192 -90 44
-165 80 -167 80 -1 0 -6 -19 -9 -42 -4 -24 -22 -81 -41 -128 -19 -46 -33 -85
-32 -86 1 -1 44 -14 96 -29 117 -33 149 -49 155 -78 2 -12 16 -128 31 -257 14
-129 53 -457 86 -729 33 -271 58 -495 56 -497 -1 -2 -32 6 -67 17 -423 132
-652 201 -686 206 l-41 5 -7 106 c-3 58 -6 209 -7 336 0 127 -3 248 -7 269
l-7 37 -110 -126 c-60 -70 -122 -136 -137 -147 -27 -20 -28 -25 -28 -101 0
-45 7 -164 14 -266 8 -102 14 -186 13 -187 -1 -1 -81 -37 -177 -81 -97 -44
-195 -89 -219 -102 l-44 -22 7 264 c3 144 9 373 12 508 l6 245 -91 129 c-159
226 -257 400 -341 605 l-47 115 -139 47 c-76 26 -155 48 -174 48 -23 1 -145
-46 -369 -142z m314 -189 c-3 -29 -26 -280 -50 -558 -50 -560 -72 -791 -77
-794 -2 -1 -43 -18 -93 -36 -49 -18 -175 -68 -278 -111 l-188 -77 5 36 c3 21
24 152 45 292 22 140 65 435 96 655 31 220 60 411 66 425 8 21 49 42 237 122
125 54 231 97 235 98 5 0 6 -24 2 -52z"/>
<path d="M5930 5696 c0 -2 60 -226 134 -497 74 -272 139 -513 145 -536 l12
-43 112 0 112 0 95 350 c62 227 98 344 102 333 4 -10 42 -144 83 -298 42 -154
83 -304 91 -333 l15 -53 112 3 112 3 142 520 c78 286 142 528 142 538 1 15
-11 17 -108 17 l-109 0 -27 -112 c-74 -318 -159 -652 -162 -642 -2 7 -46 178
-97 380 l-93 369 -103 0 -104 0 -92 -368 c-81 -324 -104 -406 -104 -371 0 5
-40 173 -89 374 l-89 365 -116 3 c-64 1 -116 1 -116 -2z"/>
<path d="M9476 5691 c-3 -5 -5 -90 -3 -190 1 -100 -1 -181 -4 -181 -4 0 -13 7
-20 17 -31 36 -111 63 -191 63 -97 0 -169 -25 -226 -80 -84 -81 -118 -189
-110 -347 7 -135 33 -201 107 -274 67 -65 133 -92 226 -93 84 0 135 18 188 64
25 22 48 40 51 40 3 0 3 -20 -1 -45 l-6 -45 99 0 99 0 -1 538 -1 537 -101 3
c-55 1 -103 -2 -106 -7z m-90 -492 c61 -29 86 -74 92 -164 8 -127 -33 -205
-124 -235 -78 -26 -175 14 -209 87 -38 78 -30 199 18 267 43 62 146 83 223 45z"/>
<path d="M11210 5698 c0 -2 -1 -245 -3 -541 l-2 -537 323 0 322 0 0 100 0 100
-210 0 -210 0 -2 438 -3 437 -107 3 c-60 1 -108 1 -108 0z"/>
<path d="M12003 5690 c-34 -14 -57 -58 -56 -104 2 -32 9 -47 34 -70 29 -25 37
-28 86 -24 60 5 88 25 101 73 26 91 -70 163 -165 125z"/>
<path d="M13123 5581 l-93 -24 0 -84 0 -83 -50 0 -50 0 0 -80 0 -80 49 0 50 0
3 -237 c3 -237 3 -238 30 -283 16 -28 43 -55 70 -70 37 -22 55 -25 138 -25
133 0 130 -2 130 97 l0 83 -61 0 c-54 0 -63 3 -84 27 -29 34 -37 105 -33 278
l3 125 93 3 92 3 0 79 0 80 -95 0 -94 0 -3 108 -3 108 -92 -25z"/>
<path d="M7550 5395 c-72 -21 -125 -58 -156 -111 -23 -40 -47 -104 -41 -110 2
-2 42 -7 91 -12 l87 -8 14 32 c24 58 111 82 175 49 36 -19 50 -43 50 -88 l0
-34 -130 -21 c-71 -12 -153 -31 -183 -42 -97 -37 -156 -118 -157 -218 0 -134
94 -222 241 -222 85 0 147 22 203 72 l46 40 0 -51 0 -51 91 0 90 0 -3 298 c-3
278 -4 300 -24 342 -26 55 -76 103 -128 125 -56 24 -198 29 -266 10z m223
-467 c-6 -56 -26 -92 -70 -125 -30 -23 -46 -28 -96 -28 -50 0 -62 4 -78 24
-41 50 -10 122 62 141 59 16 173 37 181 33 3 -2 4 -22 1 -45z"/>
<path d="M8485 5400 c-59 -8 -108 -31 -147 -68 l-28 -26 0 42 0 42 -95 0 -95
0 0 -385 0 -385 99 0 100 0 3 253 c3 221 5 256 21 285 36 66 147 90 213 47 49
-32 54 -63 54 -335 l0 -250 101 0 100 0 -3 308 c-3 294 -4 309 -25 348 -54
101 -158 144 -298 124z"/>
<path d="M10067 5400 c-146 -37 -245 -154 -269 -320 -29 -195 50 -370 197
-439 178 -83 415 -19 502 136 l23 41 -87 21 -86 22 -26 -25 c-90 -87 -247 -69
-298 34 -13 24 -23 55 -23 67 l0 23 265 0 265 0 0 48 c0 60 -24 171 -46 214
-58 115 -159 178 -296 184 -46 2 -100 -1 -121 -6z m181 -170 c32 -20 52 -54
66 -112 l6 -28 -160 0 c-174 0 -171 -1 -149 57 34 90 156 132 237 83z"/>
<path d="M10985 5395 c-27 -8 -53 -14 -56 -15 -3 0 -27 -18 -53 -41 l-46 -41
0 46 0 46 -98 0 -97 0 -4 -385 -3 -385 105 0 106 0 3 233 c3 212 5 235 23 267
31 52 76 74 157 74 l68 1 0 108 0 107 -27 -1 c-16 0 -50 -7 -78 -14z"/>
<path d="M12480 5400 c-66 -14 -130 -59 -165 -114 -26 -43 -30 -59 -30 -122 0
-64 3 -77 30 -116 39 -55 107 -92 236 -128 112 -31 129 -41 129 -80 0 -50 -66
-86 -138 -75 -44 7 -112 55 -112 80 0 24 -17 26 -93 9 l-75 -17 9 -29 c16 -58
61 -119 107 -149 60 -38 106 -50 192 -50 134 -1 240 51 287 141 21 38 24 56
21 116 -3 59 -8 77 -31 108 -36 47 -103 80 -225 112 -53 15 -109 33 -124 40
-36 18 -45 56 -24 90 46 69 180 52 209 -27 9 -23 17 -29 32 -25 11 3 51 10 88
16 62 11 67 14 61 34 -21 69 -83 138 -150 167 -50 22 -170 32 -234 19z"/>
<path d="M11960 5005 l0 -385 100 0 100 0 0 385 0 385 -100 0 -100 0 0 -385z"/>
    </g>
  </svg>

  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
      </div>
    </div>
  </div>
</nav>